*{margin:0; padding: 0; box-sizing: border-box;}
*::before, *::after{box-sizing: border-box; }

@keyframes circle{0% {transform: rotate(0deg); } 100% {transform: rotate(360deg); } }

.page{display: flex; flex-direction: column; height: 100vh;
	background:center no-repeat transparent url(http://p3.music.126.net/nHdFeciX7IpApz4hk0kyAA==/109951163094567793.jpg://p4.music.126.net/jhzB-bjWaoDV66GYAOBNwQ==/109951163076165558.jpg)

}
span.logo{
		position: absolute;
    top: 12px;
    left: 10px;
    display: block;
    width: 100px;
    height: 17px;
    background: url(//s3.music.126.net/m/s/img/logo.png?0c21b75…) no-repeat;
    background-size: 100px auto;
}
.disc-container{position: relative; }
.disc-container .icon-wrapper{position: absolute; z-index: 1; display: flex; 
	justify-content: center; align-items: center;
	 height: 20vw; width: 20vw;
	border-radius: 50%; 
}
.disc-container .icon {width: 15vw; fill: white;}
.disc-container .pointer{width: 24vw; position: absolute; left: 45vw; }
.disc-container .disc{display: flex; justify-content: center; align-items: center; margin-top: 18vw; }
.disc-container .ring{width: 74vw; } 
.disc-container .light{
	width: 74vw; position: absolute;   
	animation: circle 20s infinite linear; 
	animation-play-state: paused;}
.disc-container .cover{height: 100%;width:100%;border-radius: 50%;  
  animation: circle 20s infinite linear; 
	animation-play-state: paused;
	z-index:0;
}
.cover-wrapper{
	border:2px solid black;
	position: absolute; 
	border-radius: 50%;
	width: 47vw ;height:47vw;
	display: flex; justify-content: center; align-items: center; 
}
.disc-container.playing .light,
.disc-container.playing .cover{
  animation-play-state: running;
}

.disc-container .icon-pause{display: none; }

.disc-container.playing .icon-pause{display: block; }
.disc-container.playing .icon-play{display: none; }

.song-description{
	flex-grow: 1;
	color: #AEABAC;
	text-align: center;
	line-height: 2;
	margin-top: 20px;
}
.song-description h1{
	color: white;
	font-size: 18px;
}
.song-description p{
	font-size: 14px;
	line-height: 24px;
}
.song-description .lines{
	transition: transform 0.5s;
}
.song-description .lyric{
	height: 72px;
	overflow: hidden;
}
.song-description p.active{
	color: white;
}

.page > .links{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #D43B32;
	background: url(./img/page1BottomBg.png);
	border:1px red solid;
}
.page > .links > a{
	width: 38.5vw;
	margin: 1em;
	text-align: center;
	border: 1px solid #D43B32;
	background: transparent;
	padding: 1.5vw;
	color: inherit;
	text-decoration: none;
	border-radius: 40px;
	letter-spacing: 1vw;
}
.page > .links > a.main{
	background: #D43B32;
	color: white;
}	
