*{margin:0;padding:0;}
*{box-sizing:border-box;}
ol,ul,li{list-style: none;}
a{text-decoration: none;}
html{font-size: 18px;font-family: Helvetica;overflow-x:auto;}
body{background-size: cover;background:grey url(../img/background.jpg) no-repeat center center;height:100vh;display: flex;flex-direction: column;color:#9a9da3;justify-content: center;
align-items: center;}
.upLoad-wrapper{border:2px #454545 dashed;width:700px;height:150px;margin-top:-100px;
border-radius:5px;display: flex;align-items: center;justify-content: center;background-color:rgba(0, 0, 0, 0.1);cursor: pointer;}
.upLoad{width:100%;height: 100%;display: flex;justify-content: center;align-items: center;}
.editSong{margin-top:20px;width:700px;background-color:rgba(0, 0, 0, 0.2);cursor: pointer;}
.editSong > form{text-align: center;}
.editSong > form .input{display: flex;flex-direction: row;
padding: 20px;margin-top:20px;justify-content: space-around;}
.editSong > form input[type="text"]{
    outline: none;
    height: 25px;
    border: 1px #b8b8b8 solid;
    padding-left:5px;
    font-size: 16px;
}
.editSong > form input[type="text"]:focus{
    border-color: #cccc;
}
.editSong h3{
    margin-top:15px;
    margin-left:22px;
}
.newSong.active{
    background-color:#ff0000;    
}
.newSong,
.editSong > form button{
    border:none;
    color:#fffdff;
    padding:0 10px;
    margin-top:10px;
    width:100px;
    height:25px;
    outline: none;
    border-radius:3px;
    background-color:#d37174;
    margin-bottom:10px; 
    font-size: 16px;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
}
.editSong > form button:hover{
    background-color:#ff0000;
}
.newSong:hover{
    background-color:#ff0000;
}
.songList{
    margin-top: 20px;
    height:230px;
    cursor: pointer;
    overflow-x:hidden;
    overflow-y:auto;
}

.songList ol li{
    width:700px;
    height:40px;
    margin-top:5px;
    background-color:rgba(0, 0, 0, 0.2);
    padding-left:10px;line-height: 40px;
    border-radius:3px;
}
.songList ol li.active{
    background-color:rgba(0, 0, 0, 0.5);   
}
.newSong{
    margin-top:20px; 
     line-height: 25px;
}
